html {
    background-color: #1b1b1b;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: #e0f7fa;
    font-size: 80px;
}

#text {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
}

img {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

img:hover {
    transform: scale(1.1)
}
